#Video {
  position: relative;
  padding-top: 20px;
  width: 100vw;
  min-height: 350px;
  background-color: #2a3749; /* #35b44f */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 700ms ease;
}

#public-private {
  position: absolute;
  font-size: 35px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

#peers {
  width: 300px;
  height: 300px;
  margin-left: 25px;
}

#vid {
  background-color: #1F2B3A;
  margin-right: 45px;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
}

#progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background-color: #35b44f;
  transition: width .4s ease-in-out;
}
